<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header-container">
        <header class=" py-3">
            <div class="container">
                <div class="row align-items-center">                
                    <div class="col-6 col-lg-3 logo">
                        <img src="{{ url_for('static', filename='imgs/med_ai.png') }}" alt="Logo" class="img-fluid logo">
                    </div>
                    <div class="col-1 col-lg-7"></div>
                    <div class="col-5 col-lg-2 button">
                        <a href="#target0" class="btn btn-primary text1 btn-lg w-100">Наш Telegram</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="parallax">
        <h1 class="mainh">
           Инновационные технологии в медицине
        </h1>
        <p class="text1">Информационный сайт MedAI посвященный передовым технологиям в области здравоохранения</p>
        <div class="mask"></div>
     </div>
     <div class="textblock1 textblock " id="animated-block">
        <div class="color-70">
            <p class="text3">Как развивается современная цифровая медицина</p>
            <p class="text1">Вместе с научно-техническим прогрессом развивается и медицина. 
            Разработчики и учёные создают новые медицинские технологии. 
            С каждым успешным шагом в этом направлении врачи получают возможность всё раньше
             проводить диагностику и лечение, что помогает профилактировать возможные
              осложнения и улучшать жизнь пациентов.​</p>
        </div>
        <div class="color-30"></div>
        <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img-fluid logo">
    </div>
    <div class="textblock2 textblock" id="animated-block2">
        <div class="color-70"></div>
        <div class="color-30">
            <p class="text1">В глобальной стратегии ВОЗ на 2020–2025 годы подчёркивается,
                 что технологичная медицина должна быть доступной, безопасной, конфиденциальной
                  и прозрачной для укрепления доверия к электронным услугам. Организация считает,
                   что развитие медицины должно быть экосистемным, охватывая всех. Наименее развитым
                    странам рекомендуется улучшать инфраструктуру и привлекать инвестиции для
                     преодоления барьеров. <br> <br> В России на проект по развитию медицинских
                      центров и инновационных технологий в 2019–2024 годах выделено более 60 млрд
                       рублей, с акцентом на регенеративную и ядерную медицину, персонализированное 
                       лечение и телемедицину.​</p>
        </div>
        <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img-fluid logo">
    </div>
    <div class="content-box">
        <div class="conttbl"> 
        <div class="tblel tblels">
            <div class="textbx">
                <p class="text2">В нашей статье мы расскажем о 6 инновациях в здравоохранении</p>
                </div>
        </div>
        <div class="tblel tblel1">
            <div class="textbx">
                <p class="text2"> <a href="#target1" class="scroll-link">01 <br> Искусственный интеллект</a> </p>
                <p class="text1"> <a href="#target1" class="scroll-link">Анализ данных и прогнозирование диагнозов с высокой точностью</a> </p>
            </div>
        </div>
        <div class="tblel tblel5">
            <div class="textbx">
                <p class="text2"> <a href="#target2" class="scroll-link">02 <br> Виртуальная и дополненная реальность</a></p>
                <p class="text1"> <a href="#target2" class="scroll-link">Обучение врачей и реабилитация пациентов с применением VR и AR</a></p>
                </div>
        </div>
        <div class="tblel tblel2">
            <div class="textbx">
                <p class="text2"> <a href="#target3" class="scroll-link">03 <br> Медицинская робототехника</a> </p>
                <p class="text1"> <a href="#target3" class="scroll-link">Помощь робототехники в проведении сложных операций с точностью</a> </p>
                </div>
        </div>
        <div class="tblel tblel3">
            <div class="textbx">
                <p class="text2"> <a href="#target4" class="scroll-link"> 04 <br> Носимые устройства для мониторинга здоровья</a> </p>
                <p class="text1"> <a href="#target4" class="scroll-link"> Отслеживание показателей в реальном времени для контроля здоровья</a> </p>
            </div>
        </div>
        <div class="tblel tblel6">
            <div class="textbx">
                <p class="text2"> <a href="#target5" class="scroll-link">05 <br> Имплантируемые устройства и протезы</a></p>
                <p class="text1"> <a href="#target5" class="scroll-link">Замена утраченных функций и улучшение качества жизни</a></p>
                </div>
        </div>
        <div class="tblel tblel8">
            <div class="textbx">
                <p class="text2"> <a href="#target6" class="scroll-link">06 <br> Биопринтинг</a></p>
                <p class="text1"> <a href="#target6" class="scroll-link">Печать тканей и органов для последующей трансплантации</a></p>
                </div>
        </div>
        <div class="tblel tblele"> </div>
        </div>
        <div class="conpoint1" id="target1">
            <div class="textimgcont">
                <div class="textcont">
                    <p class="text3b">Искусственный интеллект</p>
                    <p class="text1b">Искусственный интеллект (ИИ) — это имитирование компьютером
                         логики и мыслительных процессов человека для решения различных задач.
                          Машинное обучение (ML) — одна из ветвей ИИ — включает процессы, с помощью 
                          которых компьютер получает и распознаёт данные. Затем машина делает 
                          предсказания на основе выявленных зависимостей.
                    <p class="text1b">ИИ — помощник учёных и врачей в разных областях медицины:​</p>
                    <ul class="custom-list text1b">
                        <li>управление электронными медицинскими данными</li>
                        <li>диагностика заболеваний</li>
                        <li>планирование медикаментозного и хирургического лечения</li>
                        <li>персонализированная медицинская помощь</li>
                        <li>мониторинг здоровья</li>
                        <li>разработка лекарств</li>
                        <li>проведение виртуальных консультаций</li>
                    </ul>
                </div>
                <div class="imgcont">
                    <img src="{{ url_for('static', filename='imgs/ai.jpg') }}" alt="Logo" class="img1">
                    <img src="{{ url_for('static', filename='imgs/ai2.2.jpg') }}" alt="Logo" class="img2">
                    <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img3">
                </div>
            </div>
            <div class="textcont">
                <p class="text1b">ИИ снижает нагрузку на систему здравоохранения.
                     Распространённые заболевания — рак, диабетическая ретинопатия, 
                     болезнь Альцгеймера, COVID-19 — выявляются раньше. Больше пациентов
                      получают своевременную помощь и реже сталкиваются с тяжёлыми осложнениями.​</p>
                <p class="text1b">Алгоритмы на основе ИИ помогают врачам на первичном приёме, при
                 проведении лабораторной и инструментальной диагностики. ИИ интегрируется в 
                 медицинское оборудование, ускоряют обработку результатов ЭКГ, а в Цифровом 
                 ФАПе помогает сотрудникам фельдшерско-акушерских пунктов на первом этапе 
                 диспансеризации.​</p>
                <p class="text1b">Алгоритмы ИИ автоматизируют рутинные процессы и снижают
                     нагрузку на медицинский персонал. Диагноз обязательно верифицирует
                      врач, при необходимости это может сделать подключённый ИИ консультант.
                       Наиболее сложные случаи разбирают специалисты экспертного центра мониторинга.​</p>
            </div>
        </div>
        <div class="conpoint2" id="target2">
            <div class="textcont"> 
                <p class="text3b">Виртуальная и дополненная реальность</p>
                <p class="text1b">Виртуальная реальность (Virtual Reality, VR) и дополненная
                     реальность (Augmented Reality, AR) дают возможность моделировать различные
                      ситуации в медицине. Используя головные устройства и трёхмерные проекции,
                       врачи и пациенты погружаются в виртуальный мир. Там может найтись
                        подходящее решение для диагностики и терапии.​</p>
                <p class="text1b">Точки соприкосновения инновации и медицины встречаются всё чаще:​</p>
                <ul class="custom-list text1b">
                    <li>лечение хронической и фантомной боли;</li>
                    <li>улучшение внимания и памяти пациентов с неврологическими заболеваниями;</li>
                    <li>помощь при психиатрических расстройствах: тревоге, депрессии, фобиях, расстройстве пищевого поведения.</li>
                </ul>
            </div>
            <div class="textimgcont"> 
                <div class="imgcont"> 
                    <img src="{{ url_for('static', filename='imgs/pt4.1.jpg') }}" alt="Logo" class="img2">
                    <img src="{{ url_for('static', filename='imgs/pt4.2.jpg') }}" alt="Logo" class="img1">
                    <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img3">
                </div>
                <div class="textcont"> 
                    <p class="text1b">Технологии VR — наглядный учебник и удобный тренажёр для студентов-медиков.
                         Трёхмерные анатомические модели позволяют почувствовать себя настоящим исследователем:
                          можно вращать виртуальный орган, менять его масштаб. Инновация помогает будущим хирургам
                           оттачивать свои навыки. Перед работой с настоящими пациентами можно встретиться с
                            виртуальными, чтобы улучшить коммуникативные навыки и отработать технику оказания неотложной помощи.​</p>
                </div>
            </div>
        </div>
        <div class="conpoint3" id="target3">
            <div class="textimgcont">
                <div class="imgcont">
                    <img src="{{ url_for('static', filename='imgs/mr2.1.jpg') }}" alt="Logo" class="img2">
                    <img src="{{ url_for('static', filename='imgs/mr1.jpeg') }}" alt="Logo" class="img1">
                    <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img3">
                </div>
                <div class="textcont">
                    <p class="text3b">Медицинская робототехника</p>
                    <p class="text1b">Может ли робот выполнять медицинские операции?
                         Этим вопросом учёные задавались с 1970-х годов. Первые медицинские 
                         роботы в хирургии появились как космические и военные проекты. Они 
                         совершенствовались и постепенно внедрялись в операционные. Роботы 
                         помогают проводить сложные хирургические вмешательства.
                        Взаимодействие человека и робота — принцип, который реализован в 
                        хирургической роботизированной системе:​</p>
                        <ul class="custom-list text1b">
                            <li>Хирург управляет конечностью робота через
                                 тактильный интерфейс и наблюдает операцию на экране, 
                                 где видны органы и инструменты. На изображение накладывается 
                                 виртуальная модель, подготовленная заранее для ориентира.</li>
                            <li>Роботизированная конечность с инструментом распознаёт движения
                                 рук хирурга и повторяет их.</li>
                        </ul>
                </div>
            </div>
            <div class="textcont">
                <p class="text1b">Для чего используются роботы в медицине:​</p> 
                <ul class="custom-list text1b">
                    <li>хирургическое лечение грыжи</li>
                    <li>удаление жёлчного пузыря</li>
                    <li>бариартрическая операция для помощи пациентам с избыточной массой тела</li>
                    <li>удаление мочеполовых органов, поражённых опухолью</li>
                    <li>колоректальная и кардиоторакальная хирургия</li>
                    <li>разработка лекарств</li>
                    <li>удаление опухолей головы и шеи</li>
                </ul>
                <p class="text1b">Инновация позволяет проводить малоинвазивные операции.
                     Хирург затрагивает меньше здоровой ткани, что снижает травматичность
                      вмешательства и улучшает клинический исход. Прооперированные таким
                       образом пациенты теряют меньше крови, быстрее выписываются из больницы 
                       и возвращаются к привычной жизни.​</p>
                <p class="text1b">Ещё роботы задействованы в программах реабилитации.
                    Они общаются с пациентами и успокаивают их, оказывая положительное
                    эмоциональное воздействие. Роботы участвуют в больничной логистике:
                    доставляют бельё, еду и медикаменты.​</p>
            </div>
        </div>
        <div class="conpoint4" id="target4">
            <div class="textcont">
                <p class="text3b">Носимые устройства для мониторинга здоровья</p>
                <p class="text1b">Смарт-часы из аксессуара превращаются в миниатюрный 
                    диагностический комплекс. Они не только показывают время, но и 
                    выполняют множество других функций: от измерения количества 
                    пройденных шагов до анализа важных биологических показателей. ​</p>
                <p class="text1b">Технология распознаёт параметры здоровья благодаря встроенным
                     датчикам и программному обеспечению. Чтобы гаджет работал корректно, 
                     он должен располагаться близко к коже. В последние годы смарт-часы 
                     всё чаще используют в рамках медицинских исследований. В том числе прибор
                      помогает отслеживать состояние пациентов:​</p>   
            </div>
            <div class="textimgcont">
                <div class="textcont">
                    <ul class="custom-list text1b">
                        <li>с неврологическими заболеваниями. Мониторинг с помощью носимых
                             устройств проводится у пациентов с болезнью Паркинсона, болезнью
                              Альцгеймера, эпилепсией и инсультом. Устройство анализирует
                               изменения голоса и речи, двигательные нарушения, регистрирует
                                судороги;</li>
                        <li>с сердечно-сосудистыми заболеваниями. Недостаток физических
                             упражнений — один из кардиологических факторов риска.
                              Девайс помогает объективно оценить пройденное расстояние 
                              и физическую активность в течение дня. Эти данные могут 
                              стать для пациента убедительным аргументом в пользу изменения 
                              образа жизни. Устройство наблюдает за сердечным ритмом 
                              пользователя. В будущем ещё больше информации дадут датчики
                               артериального давления, биохимические и биомеханические сенсоры.
                                Производители совершенствуют их для использования в медицине;</li>
                    </ul>
                </div>
                <div class="imgcont">
                    <img src="{{ url_for('static', filename='imgs/pt3.2.jpg') }}" alt="Logo" class="img2">
                    <img src="{{ url_for('static', filename='imgs/pt3.1.jpg') }}" alt="Logo" class="img1">
                    <img src="{{ url_for('static', filename='imgs/dots.png') }}" alt="Logo" class="img3">
                </div>
            </div>
        </div>
        <div class="conpoint5" id="target5">
            <div class="textcont">
                <p class="text3b">Имплантируемые устройства и протезы</p>
                <p class="text1b">Медицинские импланты — устройства или ткани, которые размещаются
                     внутри или на поверхности тела. Импланты давно используются в медицине для
                      разных целей: от контроля функций организма до замены отсутствующей части тела.</p>
                <p class="text1b">Направление patient-specific devices (PSD) изучает методы изготовления
                     индивидуальных имплантов. Такие изделия учитывают анатомические особенности пациента
                      и обеспечивают приемлемый эстетический результат. Разработка PSD тесно связана с аддитивным 
                      производством. Модель импланта сначала создают на компьютере по КТ- и МРТ-снимкам пациента,
                       а затем печатают на 3D-принтере.</p>
                <p class="text1b">Ещё больше идей для инноваций появляется благодаря беспроводным технологиям.
                     Импланты передают информацию о процессах внутри организма на компьютер. В ортопедических
                      протезах размещают датчики давления, чтобы узнать больше о движении сустава. Разрабатывают
                       имплантируемые датчики для оценки сердечно-сосудистых показателей. В нейрохирургии появляются 
                       прототипы, передающие данные об активности мозга по Wi-Fi.</p>
            </div>
            <div class="carousel"> 
                <div class="owl-carousel">
                    <div class="item item1"><p class="text1">Современные протезы ног значительно 
                        улучшают жизнь пользователей. Оснащенные сенсорами и микропроцессорами,
                         они обеспечивают комфорт и естественное движение, адаптируясь к различным
                          условиям, что повышает независимость и уверенность в себе.​</p></div>
                    <div class="item item2"><p class="text1">Современные протезы рук обладают высокой
                         функциональностью. Они могут быть электромеханическими или активными, позволяя 
                         пользователю выполнять сложные действия, такие как захват предметов, благодаря
                          интеграции сенсоров и адаптивных технологий.</p></div>
                    <div class="item item3"><p class="text1">Технологические достижения позволяют людям 
                        с потерей зрения восстанавливать частичное зрение. Импланты сетчатки и другие протезы
                         используют сенсоры, улучшая независимость и качество жизни пользователей.​</p></div>
                         <div class="item item4"><p class="text1">Протезы грудной клетки играют важную роль 
                            в восстановлении формы и эстетики после операций, таких как мастэктомия. Они
                             обеспечивают комфорт и уверенность, помогая женщинам вернуться к полноценной жизни.​</p></div>
                </div>
                <div class="custom-nav">
                    <button class="owl-prev"><img src="{{ url_for('static', filename='imgs/right-arrow2.png') }}" alt="Previous"></button>
                    <button class="owl-next"><img src="{{ url_for('static', filename='imgs/left-arrow2.png') }}" alt="Next"></button>
                </div>
            </div>
        </div>
        <div class="conpoint6" id="target6">
            <div class="textcont">
                <p class="text3b">Биопринтинг</p>
                <p class="text1b">Биопринтинг — воплощение давней мечты человечества
                     о создании органов и тканей на замену повреждённым или утраченным. В 
                     основе инновации — методы 3D-печати. Для печати используются специальные
                      биочернила и биобумага. Их создают из жизнеспособных клеток, биоматериала
                       и биологических молекул.​</p>
                <p class="text1b">Чтобы создать модель ткани или органа, в программу загружают
                     КТ- и МРТ-снимки пациента. Затем выделяют клетки, подбирают биоматериал и
                      создают биочернила. Напечатанная структура созревает в биореакторе. Биопринтинг
                       используется в нескольких направлениях медицины: в трансплантации, для открытия
                        лекарств и проведения научных исследований.​</p>
                <p class="text1b">Инновация помогла создать тканевые структуры для многих систем организма.
                     Учёные экспериментируют с нервными клетками, печатают кровеносные сосуды,
                      выращивают фрагменты костной и хрящевой ткани для пластики при травмах и переломах.​</p>
            </div>
            <div class="videocont">
                <video controls>
                    <source src="{{ url_for('static', filename='imgs/pt6.mp4') }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </div>
        </div>
    </div>
    <div class="footer" id="target0">
        <p class="text3">Наша команда</p>
        <div class="autors">
            <div class="autor">
                <div class="imgcont">
                    <a href="https://t.me/Oseniy" class="scroll-link"><img src="{{ url_for('static', filename='imgs/autor1.png') }}" alt="Logo" class="img2"></a>
                </div>
                <div class="textcont">
                <p class="text4">  <a href="https://t.me/Oseniy" class="scroll-link">Ярославцев Арсений</a></p>
                </div>     
            </div>
            <div class="autor">
                <div class="imgcont">
                    <a href="https://t.me/obsssdwm" class="scroll-link"><img src="{{ url_for('static', filename='imgs/autor2.png') }}" alt="Logo" class="img2"></a>
                </div>
                <div class="textcont">
                <p class="text4"> <a href="https://t.me/obsssdwm" class="scroll-link">Чарыкова Наталья</a></p>
                </div>
            </div>
            <div class="autor">
                <div class="imgcont">
                    <a href="https://t.me/shereper" class="scroll-link"><img src="{{ url_for('static', filename='imgs/autor3.png') }}" alt="Logo" class="img2"></a>
                </div>
                <div class="textcont">
                <p class="text4">  <a href="https://t.me/shereper" class="scroll-link">Шерепер Иван</a></p>
                </div>
            </div>
            <div class="autor">
                <div class="imgcont">
                    <a href="https://t.me/timosha_radim" class="scroll-link"><img src="{{ url_for('static', filename='imgs/autor4.jpg') }}" alt="Logo" class="img2"></a>
                </div>
                <div class="textcont">
                <p class="text4"> <a href="https://t.me/timosha_radim" class="scroll-link">Шалаев Тимофей</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="https://bot.jaicp.com/chatwidget/THlLVfKL:cde47661ba536fa525a460440dbb4506fbba23d3/justwidget.js?force=true" async></script>
    <script>
        // Инициализация OwlCarousel
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                center: true,
                loop:true,
                nav:false,
                mouseDrag: false,
                smartSpeed: 400,
                responsive:{
                    1:{
                        items:1
                    }
                }
            });
            $('.owl-prev').click(function() {
                $(".owl-carousel").trigger('prev.owl.carousel');
            });
            
            $('.owl-next').click(function() {
                $(".owl-carousel").trigger('next.owl.carousel');
            });
        });
    </script>  
</body>
</html>